<head>
    <link rel="stylesheet" href="/css/register.css">
</head>

<section class="container-total">
    <div class="conteudo-esquerda">
        <form action="/cadastrar-tarefa" method="post">
            <input type="hidden" name="name" value="{{userName}}">
            <input type="hidden" name="email" value="{{email}}">
            <h1>Create task</h1>
            <div class="inputs">
                <div class="inputBox">
                    <input required="" name="nome" type="text">
                    <span>Enter your task</span>
                </div>
                <div class="inputBox">
                    <input required="" name="data_criacao" type="text">
                    <span>Enter the date *year-month-day*</span>
                </div>
                <div class="inputBox">
                    <input required="" name="categoria" type="text">
                    <span>Enter the category</span>
                </div>
            </div>
            <select id="estado" name="estado">
                <option disabled selected>What is the status?</option>
                <option value="feito">To do</option>
                <option value="em_progresso">In progress</option>
                <option value="pronto">Done</option>
            </select>
            <select id="nivel_importancia" name="nivel_importancia">
                <option disabled selected>What is the matter</option>
                <option value="alto">High importance</option>
                <option value="medio">Medium importance</option>
                <option value="baixo">Low importance</option>
            </select>
            <div class="submit-buttons">
                <a href="/visualizacao?name={{userName}}&email={{email}}">View tasks</a>
                <button type="submit">Create</button>
            </div>
        </form>

    </div>



    <div class="conteudo-direita">
        <img src="/img/icone-task.png" alt="">
        <h2>Welcome!</h2>
        <p>Increase your productivity and register your task</p>
    </div>
</section>